VagrantVMs/centos/.vagrant/machines/default/virtualbox/action_cloud_init
VagrantVMs/centos/.vagrant/machines/default/virtualbox/action_provision
VagrantVMs/centos/.vagrant/machines/default/virtualbox/action_set_name
VagrantVMs/centos/.vagrant/machines/default/virtualbox/box_meta
VagrantVMs/centos/.vagrant/machines/default/virtualbox/creator_uid
VagrantVMs/centos/.vagrant/machines/default/virtualbox/disk_meta
VagrantVMs/centos/.vagrant/machines/default/virtualbox/id
VagrantVMs/centos/.vagrant/machines/default/virtualbox/index_uuid
VagrantVMs/centos/.vagrant/machines/default/virtualbox/private_key
VagrantVMs/centos/.vagrant/machines/default/virtualbox/synced_folders
VagrantVMs/centos/.vagrant/machines/default/virtualbox/vagrant_cwd
VagrantVMs/centos/.vagrant/rgloader/loader.rb
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/action_cloud_init
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/action_provision
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/action_set_name
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/box_meta
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/creator_uid
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/disk_meta
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/id
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/index_uuid
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/private_key
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/synced_folders
VagrantVMs/ubuntu/.vagrant/machines/default/virtualbox/vagrant_cwd
VagrantVMs/ubuntu/.vagrant/rgloader/loader.rb
